@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');* 

* { margin: 0; padding: 0; box-sizing: border-box; }

body { display: flex; flex-direction: column; background-color: #FFF; }

header { 
  padding: 10px; color: #FFF; max-height: 100px;  width: 100%; 
  background-image: linear-gradient(to bottom,rgb(117, 8, 207), rgba(13, 113, 206, 0.959));  
}
header img { position: relative; scale: 0.2; bottom: 70px; right: 80px; }
header ul { display: inline-flex; float: right; margin: 30px 35px; }
header ul li { 
  flex-wrap: wrap; 
  list-style: none; 
  font-size: small; 
  margin-left: 10px; 
  font-weight: 900;
}
header ul li a { text-decoration: none; color: #FFF; box-shadow: #FFF 0 2px 2px;}
header ul li a:hover { cursor: pointer; color: #e0d9d9; }

i {
  margin-right: 4px;
}

.white { border: solid 2px #FFF; width: 100vw; padding: 5px; border-radius: 5px;}

.container { margin: 20px; position: relative; }

main { margin: 10px; }

.hero h1 { 
  position: absolute;
  left: 31%;
  top: 10%;
  font-size: 60px;
  font-family: "Roboto", sans-serif; 
  font-weight: 500; 
  font-style: normal;
  text-align: center;
  color: #FFF;
}
.hero img { display: block; width: 100%; max-height: 400px; overflow: hidden;}
.hero p { position: absolute; font-size: 14px; color: #FFF; top: 70%; left: 39%; max-width: 330px; font-weight: 800;}
